header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-area: header;
    grid-template-rows: 40px;
    grid-template-areas: "logo . headerName headerName headerName . user user";
    align-items: center;
}

header{
    #logo{
        grid-area: logo;
        text-align: center;
    }

    #name{
        grid-area: headerName;
        font-size: 25px;
        text-align: center;
    }

    #user{
        grid-area: user;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #user{
        a{
            border-radius: 5px;
            border: 1px solid black;
            text-align: center;
            cursor: pointer;
            color: black;
            display: block;
            padding: 2px 22px;
            margin-right: 10px;
        }

        a:hover{
                color: white;
                background-color: #005454;
        }

        a:active{
                color: white;
                background-color: #007373;
        }
    }
}
