    //
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

%grid-shared{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px auto auto;
    background-color: #DCDCDC;
    height: 100vh;
    grid-template-areas:
        "menu menu menu menu menu"
        ". news news news ."
        "footer footer footer footer footer";
}

    @import "menu";

#news-page{
    grid-area: news;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto;
    grid-template-areas: "news-name" "blockNews";
    padding-bottom: 15px;
    border:1px solid black;
    background-color: white;
}

#news-page{
    #name{
        grid-area: news-name;
        align-self: center;
        text-align: center;
        font-size: 20px;
    }

    #news{
        grid-area: blockNews;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content min-content;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
        justify-content: space-around;
        align-content: space-around;
        padding-left: 20px;
        padding-right: 20px;
        grid-template-areas:
            "news-name"
            "news-content"
            "news-footer"
            "next-step";
    }

    #news{
        &-name{
            grid-area: news-name;
            text-align: center;
            font-size: 28px;
        }

        &-content{
            grid-area: news-content;
        }

        &-content{
            p{
                text-indent: 20px;
            }
        }

        &-footer{
            grid-area: news-footer;
            border-top:1px solid black;
            display: grid;
            grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
            grid-template-rows: min-content;
            grid-template-areas:
                ". news-user . news-date .";
        }

        &-footer{
            &-user{
                grid-area: news-user;
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            &-date{
                grid-area: news-date;
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        #next-step{
            grid-area: next-step;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: min-content;
            grid-template-areas:
                "precontent . nextcontent";
        }

        #next-step{
            #previously-content{
                grid-area: precontent;
            }

            #next-content{
                grid-area: nextcontent;
                text-align: right;
            }
        }
    }
}

footer{
    grid-area: footer;
    text-align: center;
    border-top: 1px solid;
    background-color: #008484;
}
