    //
*{
    text-decoration: none;
}

%grid-shared{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px auto 50px;
    grid-template-areas:
        "menu menu menu menu menu"
        ". news news news ."
        "footer footer footer footer footer";
}

    @import "menu";

#news-page{
    grid-area: news;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto;
    grid-template-areas: "news-name" "blockNews";
}

#news-page{
    #name{
        grid-area: news-name;
        align-self: center;
        text-align: center;
        font-size: 25px;
    }

    #news{
        grid-area: blockNews;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
        justify-content: space-around;
        align-content: space-around;
        grid-template-areas:
            "news-name"
            "news-content"
            "news-footer";
    }

    #news{
        &-name{
            grid-area: news-name;
            text-align: center;
        }

        &-content{
            grid-area: news-content;
        }

        &-footer{
            a{
                grid-area: news-footer;
            }
        }

        #second-news-name{
            text-align: center;
            grid-area: s-news-name;
        }

        #second-news{
            grid-area: s-news;
            overflow: hidden;
        }

        #second-news-end{

        }
    }
}

#sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas: "sidebar-name" "blockList";
}

#sidebar{
    #name{
        grid-area: sidebar-name;
        align-self: center;
        text-align: center;
        font-size: 25px;
    }

    #blockList{
        grid-area: blockList;
        display: grid;
        grid-template-columns: 0.2fr 1fr 0.2fr;
        grid-template-rows: min-content;
        grid-template-areas: ". sidelist .";
    }

    #blockList{
        ul#list{
            grid-area: sidelist;
            list-style-type: none;
            padding-inline-start: 0px;
        }

        ul#list{
            li{
                a{
                    color: black;
                    width: 100%;
                    display: block;
                    text-align: center;
                    font-size: 13px;
                    padding: 5px 0px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

footer{
    grid-area: footer;
    text-align: center;
}
