* {
  text-decoration: none; }

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px auto 50px;
  grid-template-areas: "menu menu menu menu menu" ". news news news ." "footer footer footer footer footer"; }

#menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px;
  grid-area: menu;
  background-color: #008484;
  grid-column-gap: 10px;
  align-items: center;
  grid-template-areas: "a-main a-list a-news-page a-search . search-form search-form search-form"; }

#menu #a-main, #menu #a-list, #menu #a-news-page, #menu #a-search {
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px; }

#menu #a-main {
  grid-area: a-main; }

#menu #a-list {
  grid-area: a-list; }

#menu #a-news-page {
  grid-area: a-news-page; }

#menu #a-search {
  grid-area: a-search; }

#menu #a-main:hover, #menu #a-list:hover, #menu #a-search:hover, #menu #a-news-page:hover {
  color: white;
  background-color: #005454; }

#menu #a-main:active, #menu #a-list:active, #menu #a-search:active, #menu #a-news-page:active {
  color: white;
  background-color: #007373; }

#menu form {
  grid-area: search-form;
  display: grid;
  grid-template-columns: 4fr 0.5fr 2fr;
  grid-template-rows: 30px;
  grid-template-areas: "form-input . form-button";
  align-items: center; }

#menu form input {
  grid-area: form-input;
  width: 100%; }

#menu form button {
  grid-area: form-button;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #005454;
  width: 100%;
  cursor: pointer; }

#menu form button:hover {
  color: white;
  background-color: #005454;
  border: 1px solid #009f9f; }

#menu form button:active {
  outline: none;
  color: white;
  background-color: #007373;
  border: 1px solid #00bfbf; }

#news-page {
  grid-area: news;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px auto;
  grid-template-areas: "news-name" "blockNews"; }

#news-page #name {
  grid-area: news-name;
  align-self: center;
  text-align: center;
  font-size: 25px; }

#news-page #news {
  grid-area: blockNews;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  justify-content: space-around;
  align-content: space-around;
  grid-template-areas: "news-name" "news-content" "news-footer"; }

#news-page #news-name {
  grid-area: news-name;
  text-align: center; }

#news-page #news-content {
  grid-area: news-content; }

#news-page #news-footer a {
  grid-area: news-footer; }

#news-page #news #second-news-name {
  text-align: center;
  grid-area: s-news-name; }

#news-page #news #second-news {
  grid-area: s-news;
  overflow: hidden; }

#sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: "sidebar-name" "blockList"; }

#sidebar #name {
  grid-area: sidebar-name;
  align-self: center;
  text-align: center;
  font-size: 25px; }

#sidebar #blockList {
  grid-area: blockList;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: min-content;
  grid-template-areas: ". sidelist ."; }

#sidebar #blockList ul#list {
  grid-area: sidelist;
  list-style-type: none;
  padding-inline-start: 0px; }

#sidebar #blockList ul#list li a {
  color: black;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 13px;
  padding: 5px 0px;
  margin-bottom: 5px; }

footer {
  grid-area: footer;
  text-align: center; }
