* {
  text-decoration: none;
  margin: 0px;
  padding: 0px; }

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px auto auto;
  background-color: #DCDCDC;
  height: 100vh;
  grid-template-areas: "menu menu menu menu menu" ". news news news ." "footer footer footer footer footer"; }

#menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px;
  grid-area: menu;
  background-color: #008484;
  grid-column-gap: 10px;
  align-content: center;
  grid-template-areas: "a-main a-list a-news-page a-search . search-form search-form search-form"; }

#menu #a-main, #menu #a-list, #menu #a-news-page, #menu #a-search {
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px; }

#menu #a-main {
  grid-area: a-main; }

#menu #a-list {
  grid-area: a-list; }

#menu #a-news-page {
  grid-area: a-news-page; }

#menu #a-search {
  grid-area: a-search; }

#menu #a-main:hover, #menu #a-list:hover, #menu #a-search:hover, #menu #a-news-page:hover {
  color: white;
  background-color: #005454; }

#menu #a-main:active, #menu #a-list:active, #menu #a-search:active, #menu #a-news-page:active {
  color: white;
  background-color: #007373; }

#menu form {
  grid-area: search-form;
  display: grid;
  grid-template-columns: 4fr 0.5fr 2fr;
  grid-template-rows: 30px;
  grid-template-areas: "form-input . form-button";
  align-items: center; }

#menu form input {
  grid-area: form-input;
  width: 100%; }

#menu form button {
  grid-area: form-button;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #005454;
  width: 100%;
  cursor: pointer; }

#menu form button:hover {
  color: white;
  background-color: #005454;
  border: 1px solid #009f9f; }

#menu form button:active {
  outline: none;
  color: white;
  background-color: #007373;
  border: 1px solid #00bfbf; }

#news-page {
  grid-area: news;
  padding-bottom: 15px;
  border: 1px solid black;
  background-color: white; }

#news-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#news-page form label {
  width: 70%; }

#news-page form label p {
  font-size: 17px;
  margin-bottom: 3px;
  margin-top: 3px;
  text-align: center; }

#news-page form label #title-news {
  width: 100%;
  height: 20px; }

#news-page form label #text-news {
  width: 100%;
  height: 150px; }

#news-page form label[for="author-news"] {
  display: flex;
  flex-direction: row; }

#news-page form label[for="author-news"] p {
  margin-right: 20px; }

#news-page form label[for="author-news"] #author-news {
  border: 1px solid white; }

#news-page form label[for="author-news"] #author-news:focus {
  outline: none; }

#news-page form button {
  padding: 6px 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid white;
  background-color: #DCDCDC;
  color: black;
  font-size: 19px;
  outline: none; }

#news-page form button:hover {
  background-color: #b0b0b0; }

#news-page form button:active {
  border: 1px solid #757575;
  background-color: #DCDCDC; }

footer {
  grid-area: footer;
  text-align: center;
  border-top: 1px solid;
  background-color: #008484; }
